.book-button{
  width: 122px;
  margin-right: 24px;
}

.titleWrap{
  margin-left: 5px;
  display: inline-block;
}

.valueWrap{
  display: inline-block;
  margin-left: 10px;
}

.shiftInformationContainer{
  border: outset;
  width: 400px;
  height: 300px;
  background-color: #F1F1F1;
  display: inline-block;
}