.jumboFix {
  padding: 20px;
  background-color: white !important;
  border-style: outset !important;
}
.headerFix {
  margin-top: -25px;
}
.h3Fix {
  margin-bottom: -10px;
}
#userCount {
  padding-bottom: 30px;
}
.avatarSize {
  height: 65px;
  width: 62px;
  border-radius: 5px;
}
.updateButtonPos {
  float:right;
}
.profile_status {
  margin-left: 17px;
}
.cvLink {
  text-decoration: none;
}