.labelStyle {
  padding-bottom: 0.5em;
  width: 150px;
}
.inputStyle {
  padding-right: 10px;
}
.registerButtonFloat {
  float: right;
}
.formControlChange{
  width: 324px;
  display: inline;
  padding-right: 92px;
  padding-bottom: 13px;
  overflow: hidden;
}
#upload-cv, #upload-picture{
  overflow: hidden;
}
